:root {
   --thm-primary: #fece3c;
   --thm-black: #222222;
   --thm-gray: #777777;
   --thm-red: #F05252;
}

.justify-content-center {
   justify-content: center;
}

.header_upper_inner {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header_upper_one_box .logo a,
.sticky-header .logo a {
   display: flex;
   align-items: center;
}

.banner-section .swiper-slide-active .content-box h1 {
   padding-right: 100px;
}

.header_upper_one_box .logo,
.sticky-header .logo {
   display: flex;
   align-items: center;
}

.logo img {
   width: 48px;
}

.logo span {
   font-size: 24px;
   font-weight: bold;
   margin-left: 10px;
   color: var(--thm-black);
}

.main-menu .navigation>li {
   margin-right: 30px;
}

.banner-section .content-box h1 {
   text-transform: capitalize;
}


/* CAREER SECTION */
.career-section {
   padding: 50px 0;
}

.career-section h4 {
   margin-bottom: 20px;
}

.career-section h5 {
   margin-bottom: 10px;
}

.career-section ul li {
   margin-bottom: 12px;
}

.position-item {
   margin-bottom: 20px;
}

.position-item p {
   margin-bottom: 0;
}

.contact-one-section .container>h5 {
   margin-bottom: 40px;
}

.home-page .team-one-img {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}

.home-page .team-one-img img {
   opacity: 0;
   visibility: hidden;
   max-height: 370px;
}

.home-page .team-one-img:before {
   display: none;
}

.row-reverse {
   flex-direction: row-reverse;
}

/* ===== contact form ===== */

.error-msg {
   font-size: 12px;
   color: var(--thm-red);
   margin-bottom: 0;
}

.contact-one-form .input-box {
   position: relative;
}

.contact-one-form .input-box.input-error input,
.contact-one-form .input-box.input-error textarea {
   border: 1px solid var(--thm-red);
}

.contact-one-form .input-box .error {
   position: absolute;
   left: 0;
   bottom: 0;
   color: var(--thm-red);
   margin: 0;
}

.rich-text ol li {
   list-style-type: decimal;
   margin-left: 15px;
}

.rich-text ul li {
   list-style-type: disc;
   margin-left: 15px;
}

.rich-text ul li p,
.rich-text ol li p {
   margin-bottom: 5px;
}

.position-item {
   padding: 20px 0;
   border-bottom: 1px solid black;
}

.position-item .rich-text {
   margin-bottom: 20px;
}

.career-section h5 {
   margin-bottom: 20px;
}